@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

@font-face {
  font-family: 'Futura';
  src: url("../fonts/Futura.woff");
}

html,body {
  height: 100%;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  color: #5c48ce;
  margin: 0;
  font-weight: 500;
  font-family: "Futura", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 15.7px;
  color: #75849a;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a:hover,a:focus {
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/

.spad {
  padding-top: 100px;
  padding-bottom: 90px;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  margin-bottom: 20px;
}

.section-title p {
  margin-bottom: 0;
}

.text-white h1,.text-white h2,.text-white h3,.text-white h4,.text-white h5,.text-white p,.text-white span,.text-white li,.text-white a {
  color: #fff;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */

.site-btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 50px;
  font-family: "Futura", sans-serif;
  min-width: 170px;
  text-align: center;
  border: 2px solid #7ad4cc;
  cursor: pointer;
  color: #fff;
}

.site-btn:hover {
  color: #fff;
}

.site-btn.sb-gradients {
  padding: 17px 32px;
  border: none;
  color: #fff;
}

.site-btn.sb-gradients.sbg-line {
  color: #5c48ce;
  z-index: 1;
}

.site-btn.sb-gradients.sbg-line:after {
  position: absolute;
  content: '';
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #fff;
  top: 2px;
  left: 2px;
  z-index: -1;
  border-radius: 50px;
}

.site-btn.sb-gradients.sbg-line:hover {
  color: #5c48ce;
}

.gradient-bg,.site-btn.sb-gradients {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3e2bce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
  background: -o-linear-gradient(left, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
  background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2bce', endColorstr='#2dd3aa', GradientType=1);
  /* IE6-9 */
}

/* Image Popup */

/* Preloder */

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }

  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }

  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

/*---------------------
	Header section
-----------------------*/

.header-section {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 30px 50px 0;
  z-index: 99;
}

.header-section .site-btn {
  float: right;
  margin-left: 60px;
}

.header-section .responsive-bar {
  display: none;
}

.main-menu {
  float: right;
}

.menu-list {
  list-style: none;
}

.menu-list li {
  display: inline;
}

.menu-list li a {
  display: inline-block;
  font-family: "Futura", sans-serif;
  font-size: 21px;
  padding: 10px 5px;
  margin-right: 30px;
  color: #fff;
}

.site-logo,.site-logo:hover,.site-logo:active,.site-logo:visited {
  color: #5c48ce;
  text-decoration: none;
  font-family: 'Arima Madurai', cursive;
}

.site-logo-text {
  font-family: 'Arima Madurai', cursive;
}

/*---------------------
	Hero Section
-----------------------*/

.hero-section {
  height: 900px;
  padding-top: 260px;
  display: block;
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  background-color: #f3f7f9;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.header-section.scrolling {
	background-color: #fff;
	box-shadow: 1px 1px 3px rgb(64 64 64 / 35%);
}

.header-section.scrolling .menu-list li a {
	color: #5c48ce;
}

.hero-section .laptop-image {
  width: 45vw;
  max-width: none;
  position: relative;
  left: 25px;
  top: -2%;
}

.hero-text {
  padding-top: 60px;
}

.hero-text h2 {
  font-size: 70px;
  margin-bottom: 10px;
}

.hero-text h2 span {
  color: #16d0c5;
}

.hero-text h4 {
  color: #75849a;
  font-size: 22px;
}

/*---------------------
  About Section
-----------------------*/

.about-section .container {
  position: relative;
}

.about-text h2 {
  font-size: 48px;
  margin-bottom: 25px;
}

.about-text h5 {
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
}

.about-img {
  position: absolute;
  top: 0;
  left: -120px;
  width: 662px;
}

/*---------------------
  Feature Section
-----------------------*/

/*---------------------
	Process Section
-----------------------*/

/*---------------------
	Fact Section
-----------------------*/

/*---------------------
	Team Section
-----------------------*/

/*---------------------
  Review Section
-----------------------*/

.push-8 {
  left: 33.333333%;
}

/*---------------------
	Newsletter Section
-----------------------*/

.newsletter-section {
  padding: 50px 0;
}

.newsletter-text h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.newsletter-text p {
  margin-bottom: 0;
}

/*---------------------
  Blog Section
-----------------------*/

/*---------------------
	Footer Section
-----------------------*/

footer {
  background-color: #353575;
  color: #fff;
}

.footer-widget span {
  color: #cacaca;
}

.footer-widget p {
  margin-bottom: 20px;
}

.footer-widget .widget-title {
  margin-bottom: 30px;
  font-size: 20px;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul a {
  font-size: 16px;
  color: #75849a;
  display: block;
  margin-bottom: 12px;
}

.footer-widget ul li:last-child a {
  margin-bottom: 0;
}

.copyright-link {
  color: #cacaca;
  display: inline-block;
}

.copyright-link:hover {
  opacity: .8;
  color: #cacaca;
}

.copyright-link:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #cacaca;
  margin-top: 2px;
}

.copyright-link:hover:after {
  opacity: .8;
}

.social a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  border: 1px solid;
  line-height: 1;
}

.social a:last-child {
  margin-right: 0;
}

.social .github {
  background: #24292e;
}

.social .google {
  background: #f03b3b;
}

.social .instagram {
  background: #bb8950;
}

.footer-nav {
  list-style: none;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav li a {
  color: #75849a;
  font-size: 14px;
  margin-left: 20px;
}

/*---------------------
	Other Pages
----------------------
======================*/

/*---------------------
  Blog page
-----------------------*/

/*---------------------
	Contact page
-----------------------*/

.download-extension a {
  font-size: 24px !important;
}

/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1585px) {
  .hero-section .laptop-image {
    left: 0;
  }
}

@media (max-width: 1425px) {
  .header-section .site-btn {
    margin-left: 0;
  }

  .hero-section {
    background-position: right 30% top;
  }

  .hero-section .laptop-image {
    width: auto;
    max-width: 100%;
    top: 70px;
  }

  .about-img {
    left: -50px;
    width: 600px;
  }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .menu-list li a {
    margin-right: 15px;
  }

  .hero-section {
    background-position: right 23% top;
  }

  .about-img {
    left: 0px;
    width: 480px;
  }
}

@media only screen and (min-width: 992px) {
  .about-img-right {
    left: auto !important;
    right: -2%;
    width: 570px !important;
  }
}

@media only screen and (max-width: 991px) {
  .spad:not(.download-extension),  .newsletter-section {
    padding-bottom: 0;
  }

  .about-img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-section {
    padding: 30px 15px 0;
  }

  .site-logo-text {
    font-size: 33px;
  }

  .menu-list li a {
    margin-right: 6px;
    padding: 4px 5px;
  }

  .header-section .site-btn {
    margin-left: 10px;
  }

  .hero-section {
    background-position: right 25% top;
    height: 730px;
    padding-top: 160px;
  }

  .hero-text h4 {
    width: 80%;
  }

  .hero-text h2 {
    font-size: 45px;
  }

  .about-img {
    position: relative;
    display: block;
    left: 0;
    width: auto;
  }

  .push-8 {
    left: 0;
  }

  .newsletter-section,  .about-section {
    text-align: center;
  }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  .header-section {
    padding: 30px 0;
  }

  .site-logo-text {
    font-size: 40px;
  }

  .header-section .responsive-bar {
    float: right;
    font-size: 25px;
    display: block;
    cursor: pointer;
    padding-right: 10px;
  }

  .hero-text .site-btn:first-of-type {
    margin-bottom: 10px;
  }

  .main-menu {
    float: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: #fff;
    padding: 0 15px;
    display: none;
    -webkit-box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
    box-shadow: 0 14px 43px rgba(33, 54, 61, 0.15);
  }

  .menu-list {
    list-style: none;
  }

  .menu-list li {
    display: block;
  }

  .menu-list li:not(:first-child) {
    border-top: 1px solid #e1e1e1;
  }

  .menu-list li a {
    display: block;
    padding: 10px 5px;
    margin-right: 0;
    color: #20509e;
  }

  .hero-text h2 {
    font-size: 40px;
  }

  .hero-section {
    height: auto;
    padding-bottom: 100px;
    padding-top: 160px;
    background-position: right 75% top;
  }

  .hero-section .laptop-image {
    display: none;
  }

  .about-img {
    position: relative;
    display: block;
    left: 0;
    width: auto;
  }

  .push-8 {
    left: 0;
  }

  .header-section .site-btn {
    display: none;
  }

  .newsletter-section,  .about-section {
    text-align: center;
  }
}

/* small Mobile :320px. */